modules = ["vue-node-20", "nodejs-20", "web"]

run = "./run.sh"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3001

[[ports]]
localPort = 5175
externalPort = 3002

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 24863620
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd web && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd app && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd auth && npm run start"
