modules = ["vue-node-20", "nodejs-20", "web"]

run = "./run.sh"

[nix]
channel = "stable-24_05"
packages = ["sqlite"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3002
externalPort = 3003

[[ports]]
localPort = 3003
externalPort = 4200

[[ports]]
localPort = 3004
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3001

[[ports]]
localPort = 5175
externalPort = 3002

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 24863620
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run app:dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run auth:dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run catalogos:dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run inversiones:dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run web:dev"

[agent]
expertMode = true
